services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile

  websocket:
    build:
      context: .
      dockerfile: docker/websocket.Dockerfile

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - backend
      - websocket
